/*-- scss:defaults --*/
$primary:       #2AC86E !default;

//#61D48B !default;
//#638544 !default;
//#586B40 !default;
//#4B8545 !default;
//#73A658 !default;

/*-- scss:rules --*/
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  letter-spacing: 3px;
}

.navbar {
  font-size: $font-size-sm;
  font-weight: 600;
  text-transform: none;

  &-nav {
    .nav-link {
      padding-top: .715rem;
      padding-bottom: .715rem;
      color: white; //navbar text color
    }
  }

   &-brand {
    margin-right: 2rem;
    color: white; //title color 
  }
  }

